out
node_modules
client/server
.vscode-test
*.vsix
.history
.yalc
yalc.lock
.DS_Store
coverage
.nyc_output
wollok.log
tsconfig.tsbuildinfo
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions