# development folders
.github/**
.husky/**
.vscode/**
.vscode-test/**
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/node_modules/**
**/.mocharc.js
**/.prettierrc
**/.eslintrc
**/.gitignore
**/scripts
contributing.md

# ts files are deployed as compiled js
**/*.ts
**/*.map

# no tests needed
client/out/test/**
client/out/testFixture/**
server/out/test/**

# node_modules, except by vscode and needed dependencies
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
